<div class="docs-nav-mobile unit whole show-on-mobiles">
    <select onchange="if (this.value) window.location.href=this.value">

        <option value="">我要挑战 ……</option>

        <option value="{{ site.url }}/algebra1/00-contents/">第一册 有理数</option>
        <option value="{{ site.url }}/algebra2/00-contents/">第二册 方程</option>
        <option value="{{ site.url }}/algebra3/00-contents/">第三册 函数</option>
        <option value="{{ site.url }}/algebra4/00-contents/">第四册 概率初步</option>
        
      	{% if page.url contains '/algebra1/ch01' %}
            {% include algebra1/ch01_mobile.html %}
        {% %}
    </select>
</div>
