<div class="docs-nav-mobile unit whole show-on-mobiles">
    {% if page.url contains '/algebra1/ch01' %}
      {% include algebra1/ch01_mobile.html %}
    {% endif %}
<select onchange="if (this.value) window.location.href=this.value">
	<optgroup label="第一章 有理数">
		<option value="{{ site.url }}/algebra1/ch01-00/">目录</option>
		<option value="{{ site.url }}/algebra1/ch01-01/">算术里有关数的运算知识</option>
		<option value="{{ site.url }}/algebra1/ch01-02/">负数的引进</option>
		<option value="{{ site.url }}/algebra1/ch01-03/">有理数</option>
		<option value="{{ site.url }}/algebra1/ch01-04/">数轴</option>
		<option value="{{ site.url }}/algebra1/ch01-05/">相反的数</option>
		<option value="{{ site.url }}/algebra1/ch01-06/">数的绝对值</option>
		<option value="{{ site.url }}/algebra1/ch01-07/">有理数大小的比较</option>
		<option value="{{ site.url }}/algebra1/ch01-08/">有理数的加法</option>
		<option value="{{ site.url }}/algebra1/ch01-09/">加法的运算性质</option>
		<option value="{{ site.url }}/algebra1/ch01-10/">有理数的减法</option>
		<option value="{{ site.url }}/algebra1/ch01-11/">加减法中的去括号法则</option>
		<option value="{{ site.url }}/algebra1/ch01-12/">代数和</option>
		<option value="{{ site.url }}/algebra1/ch01-13/">有理数的乘法</option>
		<option value="{{ site.url }}/algebra1/ch01-14/">乘法的运算性质</option>
		<option value="{{ site.url }}/algebra1/ch01-15/">有理数的除法</option>
		<option value="{{ site.url }}/algebra1/ch01-16/">倒数</option>
		<option value="{{ site.url }}/algebra1/ch01-17/">有理数的乘方</option>
		<option value="{{ site.url }}/algebra1/ch01-18/">平方表</option>
		<option value="{{ site.url }}/algebra1/ch01-19/">有理数的运算顺序</option>
		<option value="{{ site.url }}/algebra1/ch01-abstract/">本章提要</option>
		<option value="{{ site.url }}/algebra1/ch01-review-a/">复习题 A</option>
		<option value="{{ site.url }}/algebra1/ch01-review-b/">复习题 B</option>
		<option value="{{ site.url }}/algebra1/ch01-test/">测验题</option>
	</optgroup>
</select>
</div>
