<div class="section-nav">
  <div class="left align-right">
    {% if page.prev_section != null %}
      <a href="{{ site.url }}/{{ page.prev_section }}" class="prev">
        上一节
      </a>
    {% else %}
      <span class="prev disabled">Back</span>
    {% endif %}
  </div>
  <div class="right align-left">
    {% if page.next_section != null %}
      <a href="{{ site.url }}/{{ page.next_section }}" class="next">
        下一节
      </a>
    {% else %}
      <span class="next disabled">Next</span>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>

