<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - Feed" href="/feed.xml" />
  <link rel="alternate" type="application/atom+xml" title="Recent commits to OWNER’s master branch" href="https://github.com/lviggiano/owner/commits/master.atom" />
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/gridism.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" />
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.png" />

  <!-- mathjax config similar to math.stackexchange -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      },
      "HTML-CSS": {
        preferredFont: "TeX",
        availableFonts: ["STIX","TeX"],
        linebreaks: { automatic:true },
        EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
      },
      styles: { 
        ".MathJax": {
           color: "#CC5522"
        }
      },
       messageStyle: "normal"
    });

     styles: {

  ".MathJax_Display": {
    "text-align": "center",
    margin:       "1em 0em"
  },

  ".MathJax .merror": {
    "background-color": "#000088",
    color:   "#FFFFFF",
    border:  "1px solid #FFFFFF",
    padding: "1px 3px",
    "font-style": "normal",
    "font-size":  "90%"
  }

}
 </script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


  <script src="{{ site.url }}/js/modernizr-2.5.3.min.js"></script>
</head>
