<h4>第二章 代数式</h4>

 <ul>
	<li>
		<a href="{{ site.url }}/algebra1/ch02-00/">目录</a>
	</li>

	<li class="{% if page.title contains "2.1 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-01/">代数式</a>
	</li>
	<li class="{% if page.title contains "2.2 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-02/">列代数式</a>
	</li>
	<li class="{% if page.title contains "2.3 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-03/">代数式的值</a>
	</li>
	<li class="{% if page.title contains "2.4 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-04/">求某个字母的值</a>
	</li>
	<li class="{% if page.title contains "2.5 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-05/">整式和分式</a>
	</li>
	<li class="{% if page.title contains "2.6 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-06/">单项式</a>
	</li>
	<li class="{% if page.title contains "2.7 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-07/">多项式</a>
	</li>
	<li class="{% if page.title contains "2.8 " %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-08/">字母的允许值</a>
	</li>

	<li class="{% if page.url contains 'abstract' %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-abstract/">本章提要</a>
	</li>
	<li class="{% if page.url contains "review-a" %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-review-a/">复习题 A</a>
	</li>
	<li class="{% if page.url contains "review-b" %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-review-b/">复习题 B</a>
	</li>
	<li class="{% if page.url contains "test" %}current{% endif %}">
		<a href="{{ site.url }}/algebra1/ch02-test/">测验题</a>
	</li>
</ul>
