<optgroup label="第二章 代数式">
	<option value="{{ site.url }}/algebra1/ch02-00/">目录</option>
	<option value="{{ site.url }}/algebra1/ch02-01/">代数式</option>
	<option value="{{ site.url }}/algebra1/ch02-02/">列代数式</option>
	<option value="{{ site.url }}/algebra1/ch02-03/">代数式的值</option>
	<option value="{{ site.url }}/algebra1/ch02-04/">已知代数式的值求某个字母的值</option>
	<option value="{{ site.url }}/algebra1/ch02-05/">整式和分式</option>
	<option value="{{ site.url }}/algebra1/ch02-06/">单项式</option>
	<option value="{{ site.url }}/algebra1/ch02-07/">多项式</option>
	<option value="{{ site.url }}/algebra1/ch02-08/">有理式中字母的允许值</option>
	<option value="{{ site.url }}/algebra1/ch02-abstract/">本章提要</option>
	<option value="{{ site.url }}/algebra1/ch02-review-a/">复习题 A</option>
	<option value="{{ site.url }}/algebra1/ch02-review-b/">复习题 B</option>
	<option value="{{ site.url }}/algebra1/ch02-test/">测验题</option>
</optgroup>
