---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% unless page.url contains '/about' %}
        {% include books_contents_mobile.html %}
      {% endless %}

      <div class="unit four-fifths">
        <article>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      {% unless page.url contains '/about' %}
        {% include books_contents.html %}
      {% endless %}

      <div class="clear"></div>

    </div>
    <div class="grid">
      <div class="unit four-fifths center-on-mobiles">
        {% include comments.html %}
      </div>
    </div>
  </section>
