---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% if page.url contains '/algebra' %}
        {% include pages_contents_mobile.html %}
      {% endif %}
      
      <div class="unit four-fifths">
        <article>
          {{ content }}
        </article>
      </div>

      {% if page.url contains '/algebra' %}
        {% include pages_contents.html %}
      {% endif %}

      <div class="clear"></div>

    </div>
    <div class="grid">
      <div class="unit four-fifths center-on-mobiles">
        {% include comments.html %}
      </div>
    </div>
  </section>
